:root {
  color:red;
  font-family: Arial, Helvetica; sans-serif;
  font-size: 2rem;
}

body, html {
  margin:0;
  padding: 0;
}

::selection {
  background-color: yellow;
}

body {
  display: grid;
 	grid-template-columns: minmax(450px, 30vw) 1fr;
  overflow: hidden;
  height: 100vh;
}

main {
  overflow-y: scroll;
}

.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  border: 3px solid red;
  color: red;
  text-align: center;
  font: 32px Arial, sans-serif;
}

footer {
  position: sticky;
  text-align: left;
  padding: 0;
}

.button {
  color: white;
  text-decoration: none;
  background-color: red;
  border-radius: 100%;
  padding: 2rem;
}

.button:hover {
  text-decoration: underline;
}
