body {
 overflow: hidden;
 color: red;
 font-family: Arial;
 font-size: 2rem;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr 30px;
  padding: 1rem;
}

.body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content {
  overflow-y: scroll;
  padding: 1rem;
}
