body {
  display: grid;
 	grid-template-columns: minmax(450px, 30vw) 1fr;
  overflow: hidden;
  color: red;
  font-family: Arial;
  font-size: 2rem;
  padding: 2rem;
}

.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  border: 3px solid red;
  color: red;
  text-align: center;
  font: 32px Arial, sans-serif;
}
