body {
  display: flex;
  place-items: center;
  height: 100vh;
  font-family: Arial;
  text-align: center;
  color: yellow;
  background-color: black;
}

#myVideo {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
  position: fixed;
  /*margin: 0 auto;*/
  /*color: yellow;*/
  width: 100%;
  /*overflow: auto;*/
}

a {
color: yellow;
text-decoration: none;
font-weight: bold;
font-size: 18em;
}

a:hover {
  text-decoration: underline;
}
