
body {
  display: block;
  color: white;
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px 0px 0px 50px;
  /* display: flex;
  flex-direction: row; justify-content: space-between;*/
}

h1 {
  display: block;
  font-size: 15em;
}

section {
  columns: 1;
  column-gap: 1em;
  column-width: 1em;
  overflow: hidden;
}
