
body {
  display: block;
  color: white;
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px 0px 0px 50px;
  /* display: flex;
  flex-direction: row; justify-content: space-between;*/
}

h1 {
  font-size: 25em;
  z-index: 1000;
  overflow: scroll;
}

section {
  columns: 1;
  column-gap: 0em;
  column-width: 8em;
  overflow: hidden;
  opacity: 1;
}

img:hover {
  opacity: 0;
}
