body {
  color: white;
  background-color: black;
  font-family: Helvetica, Arial, sans-sans-serif;
  font-size: 2em;
  display: flex;
  flex-direction: row; justify-content: space-between;
}

body:hover {
  color: red;
}
